<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/717ccd8f-8402-48d7-85fb-2ca465d1c25f/resourcegroups/Druv/providers/Microsoft.Web/sites/Qup</ResourceId>
    <ResourceGroup>Druv</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://qup.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>qup.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Qup</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Qup</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QupEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=quptesql.database.windows.net;Initial Catalog=Qup;Persist Security Info=True;User ID=quprw;Password=mari0andlu!g!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=quptesql.database.windows.net;Initial Catalog=Qup;Persist Security Info=True;User ID=quprw;Password=mari0andlu!g!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QupEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/QupDatabase.csdl|res://*/QupDatabase.ssdl|res://*/QupDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=quptesql.database.windows.net;initial catalog=Qup;persist security info=True;user id=quprw;password=mari0andlu!g!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QupEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/QupDatabase.csdl|res://*/QupDatabase.ssdl|res://*/QupDatabase.msl;provider=System.Data.SqlClient;provider connection string="data source=quptesql.database.windows.net;initial catalog=Qup;persist security info=True;user id=quprw;password=mari0andlu!g!;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>